SECRET_KEY=some random secret key
EMAIL_HOST_USER=tekanaewallet@gmail.com
EMAIL_HOST_PASSWORD=spbhklumontorcxi
DB_NAME=tekanadb
DB_USER=tekanauser
DB_PASSWORD=tekanapassword
DB_HOST=5.189.135.103
DB_PORT=5432